## https://service.sumologic.com/help/Using_sumo.conf.htm
#
sumologic_install:
  accessid: 'access_id'
  accesskey: 'accesskey'

sumologic:
  file_sources:
    auth_log:
      path: "/var/log/auth*"
      category: linux_apps_logs
    syslog:
      path: "/var/log/syslog"
      category: linux_apps_logs
  script_sources:
    script1:
      description: some description
      commands: ["/bin/foo", "/bin/bar"]
      cronExpression: "* * * * * "
      category: scripts
