## https://service.sumologic.com/help/Using_sumo.conf.htm
#
sumologic_install:
  accessid: 'access_id'
  accesskey: 'accesskey'

sumologic:
  sources:
    auth_log:
      sourceType: LocalFile
      pathExpression: "/var/log/auth*"
      category: linux_apps_logs
    syslog:
      sourceType: LocalFile
      pathExpression: "/var/log/syslog"
      category: linux_apps_logs
    script1:
      sourceType: Script
      description: some description
      commands: ["/bin/foo", "/bin/bar"]
      cronExpression: "* * * * * "
      category: scripts
