## https://service.sumologic.com/help/Using_sumo.conf.htm
#
sumologic_install:
  accessid: 'access_id'
  accesskey: 'accesskey'
  ephemeral: 'true'
  sources: '/etc/sumo/sources.json'
  name: '{{ salt['grains.get']('nodename') }}'
  javamaxmemory: 128
  targetCPU: 10
sumologic:
  timezone: 'UTC'
  sources:
    syslog:
      sourceType: Syslog
      category: syslog
      protocol: UDP
      port: 1514
    applog:
      sourceType: LocalFile
      pathExpression: /var/log/application.log
      description: galaxy stdout
      category: applog
      multilineProcessingEnabled: true
      useAutolineMatching: true
    otherlog: override
