{%- from "sumologic/defaults.json" import rawmap with context -%}
{%- set sumoconf = salt['pillar.get']('sumologic_install', rawmap, True) -%}
accessid={{    sumoconf.accessid }}
accesskey={{   sumoconf.accesskey }}
syncSources={{ sumoconf.sources }}
ephemeral={{ sumoconf.ephemeral }}
name={{ sumoconf.name }}
